[Unit]
Description=BH gateway change service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/bh-gw-change
WorkingDirectory=/usr/local/sbin/bh-gw-change
ExecStart=/usr/bin/php -S ${LISTEN_ADDRESS}:${LISTEN_PORT} /usr/local/sbin/bh-gw-change/bh-gw-change.php
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
